@model Recon.Web.Models.LoginModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <legend>Enter your username and password to log into the TUFMAN-VMS Reconciliation.</legend>
    
    <dl class="dl-horizontal">
        <dd>&nbsp;</dd>
        <dt>@Html.LabelFor(m => m.UserName)</dt>
        <dd>
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </dd>
        <dt>@Html.LabelFor(m => m.Password)</dt>
        <dd>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </dd>
        <dd>
           <input type="submit" value="Log in" class="btn btn-primary"/>   
        </dd>
    </dl>
    <p>      
        <a href=@Url.Action("RequestPassword")>Forgot your password?</a>
    </p>
    <p>
        If you don't have an account, you can request one from SPC by <a href="mailto:brunod@spc.int">email</a> (please refer your country in the email)
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
